@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$font-family: 'Manrope', sans-serif;
$text: rgb(255, 255,255);
$text2: rgb(204, 0, 255);
$text3: #f2bef5;
$bg1: linear-gradient(90deg, #000000 0%, #190029 100%);
$bg2: rgb(47, 101, 182);
$bg3: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 1) 100%);

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

//breakpoins
$xs: 0;
$xms: 480px;
$sm: 768px;
$md: 960px;
$lg: 1224px;
$xl: 1920px;
$xxl: 2050px;

@mixin centralize {
     display: flex;
     align-items: center;
     justify-content: center;
}

@mixin breakpoint($point){
     @if $point == xs {
          @media (min-width: $xs) {
               @content;
          }
     }
     @if $point == xms {
          @media (min-width: $xms) {
               @content;
          }
     }
     @if $point == sm {
          @media (min-width: $sm) {
               @content;
          }
     }
     @if $point == md {
          @media (min-width: $md) {
               @content;
          }
     }
     @if $point == lg {
          @media (min-width: $lg) {
               @content;
          }
     }
     @if $point == xl {
          @media (min-width: $xl) {
               @content;
          }
     }
     @if $point == xxl {
          @media (min-width: $xxl) {
               @content;
          }
     }
}

@mixin animation($trY1, $trY2){
     -webkit-animation: slide-top 1.7s ease-in-out infinite alternate ;
     animation: slide-top 1.7s ease-in-out infinite alternate ;

     @-webkit-keyframes slide-top {
          0% {
            -webkit-transform: translateY($trY1);
                    transform: translateY($trY1);
          }
          100% {
            -webkit-transform: translateY($trY2);
                    transform: translateY($trY2);
          }
        }
        @keyframes slide-top {
          0% {
            -webkit-transform: translateY($trY1);
                    transform: translateY($trY1);
          }
          100% {
            -webkit-transform: translateY($trY2);
                    transform: translateY($trY2);
          }
        }
}